<section class="news-intro container-padding">
    <div class="news-intro__wrapper">
      <h1>
        news
      </h1>

      <p class="news-paragraph informational-text">
        Be it the latest news about ACME or white papers on the most interesting explosions, here you will learn everything you need to know about this great corporation! Do not miss anything, otherwise your failure will not be the best.
      </p>
    </div>
</section>

<app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
